.body-cont {
    padding-top: 2%;
}

.body-cont .radio-cont {
    display: -webkit-inline-box !important;
    padding-top: 3% !important;
}

.txt-align {
    text-align: right;
    padding-top: 0.5%;
}

.custom-radio {
    padding-left: 15% !important;
}

.sub-body {
    padding-top: 5%;
}

.row-btn {
    padding-top: 5%;
    padding-left: 45%;
}

.row-btn button {
    margin-left: 5%;
}

#myChart {
    margin-top: -53%;
}